<h1>home/myconsole</h1>
<% console %>
<!-- https://stackoverflow.com/questions/3107480/in-ruby-is-there-a-way-to-print-out-all-the-global-variables-and-constants-defi -->
<!-- instance_variables -->
<!-- global_variables -->
<!-- Object.constants -->
